/**
 * @title webCalendar / WebContent / css / webCalendarStyle.css
 * @browser google-Chrome
 * @environment window.width:1000px, height:600px
*/

@charset "UTF-8";

@media all and (width: 1000px) and (height: 600px);

body {
    background: radial-gradient(ellipse farthest-side at center, white ,mistyrose 85% ,pink);
    font-family: "MS明朝",serif;
}

div#header{
    text-align: center;
}

div#calendar{
    text-align: center;
    vertical-align: top;
}

div#inputDiv{

}

h1{
    text-align: center;
    text-shadow: thistle 2px 2px;
    color: hotpink;
    background-color: pink;
    font-family: "MS P明朝",serif;
    font-size: 32px
}

table {
    table-layout: fixed;
    padding: 2em;
    text-align: center;
    font-family: "MS P明朝",serif;
    background-color: lavenderblush;

    border-collapse: separate;
    border-width: 2px;
    border-spacing: 2px;
    border-color: pink;
    border-radius: 10px;
    border-style: ridge;

    font-weight: bold;
}

table#prev{
    float: left;
    width: 250px;
    height:250px;

    font-size: small;
}

table#base{
    float: left;
    width: 400px;
    height:400px;

    font-size: x-large;
}

table#next{
    width: 250px;
    height:250px;

    font-size: small;
}

table#input{
    width: 400px;
    height:100px;
}

th{
    color: royalblue;
    background-color: lavenderblush;
}

th#base{
    font-size: xx-large;
}

th#prev,#next{
    font-size: x-large;
}

.sunday{
    background-color: pink;
}

.saturnday{
    background-color: lightsteelblue;
}

button {
    font-size: medium;
    font-weight: bold;
    font-family: "MS明朝",serif;
    color: mediumblue;
}

.errMsg {
    color: deeppink;
}

