/**
 * @title webCalendar / WebContent / css / webCalendarStyle.css
*/

@charset "UTF-8";
body {
    font-family: "MS明朝",serif;
}

div#inputDiv{
    width: 80%;
}

table {
    table-layout: fixed;
    width: 400px;
    height: 80px;

    margin: 2em;
    padding: 2em;
    text-align: center;
    background-color: lavenderblush;

    border-width: 2px;
    border-spacing: 2px;
    border-color: pink;
    border-radius: 10px;
    border-style: ridge;
}

button {
    font-size: medium;
    font-weight: bold;
    font-family: "MS明朝",serif;
    color: hotpink;
}

.errMsg {
    color: deeppink;
}

