/**
 * @title webCalendar / WebContent / css / webCalendarStyle.css
*/

@charset "UTF-8";
body {
    font-family: "MS明朝",serif;
}

div#inputDiv{
    width: 80%;
}

div#calendar{

}

table {
    table-layout: fixed;

    margin: 2em;
    padding: 2em;
    text-align: center;
    background-color: lavenderblush;

    border-width: 2px;
    border-spacing: 2px;
    border-color: pink;
    border-radius: 10px;
    border-style: ridge;
}

table#base{
    float: ;
    width: 400px;
    height:400px;
    border-collapse: separate;
}

table#prev,#next{
    width: 300px;
    height:200px;
    border-collapse: separate;
}

table#input{
    width: 400px;
    height:100px;
}

button {
    font-size: medium;
    font-weight: bold;
    font-family: "MS明朝",serif;
    color: hotpink;
}

.errMsg {
    color: deeppink;
}

